body {
	/*background-color: silver;*/
	/*background-image: url('img3.png');
	background-repeat: no-repeat;
	background-attachment: fixed;*/
	background: url('img3.png') no-repeat fixed;
	background-size: cover;
	font-family: sans-serif, hevertical;
	color: grey;
}

#overlay {
	width: 100%;
	height: 500vh;
	background-color: rgba(10,10,10,0.8);


}

#best {
	color: gold;
	text-align: center;
	background-color: white;
	padding: 8px;
	letter-spacing: 4px;
	text-decoration-line: underline;
	text-decoration-color: tomato;
	text-decoration-style: wavy;
	text-decoration-thickness: 3px;
	text-shadow: 3px 3px 5px grey;
}

.nav-bar {
	width: 70%;
	background-color: lightblue;
	margin-left: auto;
	margin-right: auto;
}

.nav-bar ul {
	list-style-type: none;
}

.nav-bar ul li {
	display: inline-block;
	width: 20%;
	margin-right: 2%;
	margin-left: 1.5%;
	text-align: center;
	box-sizing: border-box;
	padding: 8px;
	border-right: 3px solid blue;
	border-left: 3px solid rgb(0,0,100);
	border-radius: 4px;
}

.nav-bar ul li:hover {
	background-color: skyblue;
} 

.nav-bar ul li a {
	text-decoration: none;
	font-weight: bolder;
	color: #f2f2f2;;
}

.nav-bar ul li a:link {
	color: #f2f2f2;
}

.nav-bar ul li a:visited {
	color: purple;
}

.nav-bar ul li a:hover {
	color: grey;
	text-decoration: underline;
}

.nav-bar ul li a:active {
	color: hotpink;
}

.clinton {
	width: 100%;
	background-color: skyblue;
}

.clinton img {
	width: 80%;
	height: 41vh;
	margin-bottom: -4px;
} 

#border {
	width: 50%;
	background-color: #f2f2f2;
	margin-right: auto;
	margin-left: auto;
	margin-top: 4%;
	padding: 6px;
	border: 10px grey inset;
	border-radius: 20px;
	box-sizing: border-box;
	padding: 50px;
}

.dotted {
	border-style: dotted;
	padding: 6px;
	text-align: center;
	margin-bottom: 8px;
}

.dashed {
	border-style: dashed;
	padding: 6px;
	text-align: center;
	margin-bottom: 8px;
}

.solid {
	border-style: solid;
	padding: 6px;
	text-align: center;
	margin-bottom: 8px;
	border-width: 4px 10px 15px 20px;
	border-color: red;
	/*border-top-width: 8px;*/
	outline: ridge yellow 4px;
	outline-offset: 5px;
}

.double {
	border-style: double;
	padding: 6px;
	text-align: center;
	margin-bottom: 8px;
}

.groove {
	border-style: groove;
	padding: 6px;
	text-align: center;
	margin-bottom: 8px;
}

.ridge {
	border-style: ridge;
	padding: 6px;
	text-align: center;
	margin-bottom: 8px;	
}

.inset {
	border-style: inset;
	padding: 6px;
	text-align: center;
	margin-bottom: 8px;
}

.outset {
	border-style: outset;
	padding: 6px;
	text-align: center;
	margin-bottom: 8px;
}

.none {
	border-style: none;
	padding: 6px;
	text-align: center;
	margin-bottom: 8px;
}

.hidden {
	border-style: hidden;
	padding: 6px;
	text-align: center;
	margin-bottom: 8px;
}

#text-formating {
	width: 80%;
	margin: auto;
	margin-top: 5%;
}

.t1 {
	width: 40%;
	background-color: #f5f5f5f5;
	box-sizing: border-box;
	padding: 8px;
	float: left;
	color: grey;
	text-align: justify;
	text-align-last: center;
	text-transform: capitalize;
	text-indent: 50px;
	/*word-spacing: 8px;*/
	line-height: 0.8;
	white-space: wrap;
	/*font-weight: 600;*/
	font-weight: bolder; 
	font-variant: small-caps;
}

.t2 {
	width: 40%;
	background-color: #f9f9f9f9;
	box-sizing: border-box;
	padding: 8px;
	float: right;
	color: grey;
	direction: rtl;
	text-transform: uppercase;
	font-style: oblique;
}

#text-formating::after {
	content: "";
	clear: both;
	display: table;
}

/*.clearfix {
	display: none;
	clear: both;
}*/

.list {
	color: #f2f2f2;
	list-style-type: lower-roman;
/*	list-style-image: url('img3.png');*/
}

table {
	/*visibility: hidden;*/
	width: 30%;
	border: solid 2px blue;
	border-collapse: collapse;
	background-color: cornsilk;
	color: dodgerblue;
}

tr,th,td {
	border: solid 2px blue;
	text-align: center;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: silver;
}

tr:hover {
	background-color: white;
	color: red;
}

